.App {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

span {
    color: rgb(216, 210, 118);
}