
.register {
    width: 400px;
    background: rgba(182, 171, 171, 0.486);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 0px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.register h1, .register .or {
    color: #ffffff;
}

.register > input {
    border-radius: 0px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.register > .button {
    background: #dee7ec;
    color: #889eab;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0px;
    outline: none;
    cursor: pointer;
    transition: .8s;
}

.register > .button:hover {
    background-color: #140536b0;
    color: #fff;
}

.register > .buttonLogin {
    background: #140536b0;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0px;
    outline: none;
    cursor: pointer;
    transition: .8s;
}
.register > .buttonLogin:hover {
    background-color: #dee7ec;
    color: #889eab;
}